{% if lb_name == "LB-M" %}
{%    set role = "MASTER" %}
{%    set priority = 100 %}
{% elif lb_name == "LB-S" %}
{%    set role = "BACKUP" %}
{%    set priority = 90 %}
{% endif %}
global_defs { 
   notification_email { 
     k8s.localhost.com
   } 
   notification_email_from k8s.localhost.com
   router_id {{ role }}
} 

vrrp_script check_http {
    script "</dev/tcp/127.0.0.1/6443"      #修改为自己需要监听的端口,理论上可以监听远程端口
    interval 2                             #检查脚本的频率,单位（秒）
    weight -30                             #端口检查失败,优先级减少30,weight的绝对值要大于两台priority的差值
}

vrrp_instance VI_1 { 
    state MASTER 
    interface {{ nic }} 					# 修改为实际网卡名
    virtual_router_id 51 					# VRRP 路由 ID实例，每个实例是唯一的 
    priority {{ priority }}    					# 优先级，备服务器设置 90 
    advert_int 1    						# 指定VRRP 心跳包通告间隔时间，默认1秒 
    authentication { 
        auth_type PASS      
        auth_pass 123456 
    }  
    # VIP
    virtual_ipaddress { 
        {{ vip }}/24
    } 
    track_script {
        check_http
    } 
}
